@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --Blue500: hsl(215, 51%, 70%);
    --Blue800: hsl(215, 32%, 27%);
    --Blue900: hsl(216, 50%, 16%);
    --Blue950: hsl(217, 54%, 11%);
    --Cyan400: hsl(178, 100%, 50%); 
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Blue950);
    font-family: 'Outfit', 'sens-serif';
}

main {
    max-width: 350px;
    background-color: var(--Blue900);
    border-radius: 15px;
    text-align: center;
}

header {
    margin: 23px;
}

.image-container {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0; /*top:0; right:0; bottom:0; left:0 */
  background-color: hsla(178, 100%, 50%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.overlay img {
  width: 48px;
  height: 48px;
}

.image-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

header:hover ~ .text-container h1 {
    color: var(--Cyan400);
}

header:hover ~ .text-container span {
    color: var(--Cyan400);
}

.nft {
    width: 100%;
    border-radius: 5px;
}

.text-container {
    margin-inline: 23px;
}

.s1 {
    text-align: left;
    margin-bottom: 23px;
}

.s2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--Blue800);
}

h1 {
    font-size: 22px;
    line-height: 125%;
    letter-spacing: 0px;
    font-weight: 600;
    color: white;
    margin-block: 15px;
}

p {
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0px;
    font-weight: 300;
    color: var(--Blue500);
    margin-bottom: 10px;
}

.ethereum {
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0px;
    font-weight: 600;
    color: var(--Cyan400);
}

.ethereum::before {
    content: url(../Images/icon-ethereum.svg);
    margin-right: 7px;
    vertical-align: middle;
}

.small {
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--Blue500);
}

.s2 > .small::before {
    content: url(../Images/icon-clock.svg);
    margin-right: 7px;
    vertical-align: middle;
}

footer {
    display: flex;
    margin-block: 25px;
}

footer > .small {
    padding-top: 6px;
}

span {
    color: white;
}

#avatar {
    height: 33px;
    width: 33px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}
